*{
  padding: 0;
  margin: 0;
}

.navbar{
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5px;
  padding: 50px;
}

.left-section{
  display: flex;
}

.left-section h1{
  color: white;
  font-size: 2.5em;
  margin-left: 8px;
  font-family: 'Karla', sans-serif;
}

.right-section p{
  color: white;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
.memelogo{
  width: 60px;
}

.input-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-section input{
  border-radius: 15px;
  font-size: 30px;
  height: 7vh;
  width: 40vw;
  margin: 5vw 7vw 2vw 7vw;
  font-family: 'Karla', sans-serif;
  padding-left: 2vi;
  border-color: #D5D4D8;
  border: 2px solid #D5D4D8;
}

.button-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-section button{
  width: 86vw;
  height: 7vh;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  font-size:30px;
  border-radius: 15px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.meme-img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5vh 5vw 5vw 10vw;
  width: 80%;
  height: 50vh;
}

.meme-image{
  width: 100%;
  height: 100%;
}

.meme-container{
  width: 80%;
  height: 70%;
  position: absolute;
}

.overlay{
  display: flex;
  flex-direction: column;
  justify-context: space-between;
  z-index:9;
  height: 70%;
  font-size: 2em;
}

.overlay h1, .overlay h2{
  width: 100%;
  padding: 0% 15% 45% 5%;
  color: white;
}
